### Identify events which appear twice and delete them

In [1]:
import os
import hashlib
import pandas as pd
import numpy as np
import shutil

In [2]:
def create_copy_of_files(current_directory, gauge_num):
    target_directory = current_directory + "/EventSet"

    # Create the directory if it does not exist
    os.makedirs(target_directory, exist_ok=True)

    # List all files in the current directory
    files = [f for f in os.listdir(current_directory) if os.path.isfile(os.path.join(current_directory, f))]

    # Copy each file to the target directory
    for file in files:
        source_path = os.path.join(current_directory, file)
        destination_path = os.path.join(target_directory, file)
        shutil.copy(source_path, destination_path)

    # print(f"All files have been copied to {target_directory}.")

def load_csv_files(directory):
    csv_files = [f for f in os.listdir(directory) if f.endswith('.csv')]
    dataframes = {}
    
    for csv_file in csv_files:
        file_path = os.path.join(directory, csv_file)
        df = pd.read_csv(file_path)
        if 'precipitation (mm)' in df.columns:
            dataframes[csv_file] = df['precipitation (mm)']
    
    return dataframes

def compare_and_delete_duplicates(dataframes):
    filenames = list(dataframes.keys())
    num_files = len(filenames)
    duplicates = set()

    for i in range(num_files):
        for j in range(i + 1, num_files):
            file1, file2 = filenames[i], filenames[j]
            if dataframes[file1].equals(dataframes[file2]):
                duplicates.add(file2)  # Add the second file to the set of duplicates
                # print(f"The 'rolling_sum' column in {file1} is the same as in {file2}. Deleting {file2}.")

    # Delete the duplicate files
    for file in duplicates:
        os.remove(os.path.join(directory_path, file))
        # print(f"Deleted file: {file}")

def compare_columns(dataframes):
    filenames = list(dataframes.keys())
    num_files = len(filenames)
    
    for i in range(num_files):
        for j in range(i + 1, num_files):
            file1, file2 = filenames[i], filenames[j]
            if dataframes[file1].equals(dataframes[file2]):
                print(f"The 'rolling_sum' column in {file1} is the same as in {file2}")

### UKCP18 (done for bc005, started for bc009 but not many profiles actually made yet)

In [3]:
em='bc005'
timeperiod='Present'

#### Check if there are enough files for each gauge

In [5]:
for gauge_num in range(0,1294):
    if gauge_num not in [444, 827, 888]:
        directory_path = f"/nfs/a161/gy17m2a/PhD/ProcessedData/IndependentEvents/UKCP18_30mins/{timeperiod}/{em}/{gauge_num}/WholeYear/EventSet/"
        file_count = len([
            name for name in os.listdir(directory_path)
            if os.path.isfile(os.path.join(directory_path, name)) and 'part0' in name])
        if file_count == 133:
            pass
        else:
            print(f"Gauge number {gauge_num}: Not as expected, {file_count}")

#### Check if already did the deleting

In [9]:
# for gauge_num in range(0,1294):
#     if gauge_num not in [444, 827, 888]:
#         directory_path_eventset = f"/nfs/a161/gy17m2a/PhD/ProcessedData/IndependentEvents/UKCP18_30mins/Present/{em}/{gauge_num}/WholeYear/EventSet/"
#         directory_path = f"/nfs/a161/gy17m2a/PhD/ProcessedData/IndependentEvents/UKCP18_30mins/Present/{em}/{gauge_num}/WholeYear/"
#         file_count_eventset = len([
#             name for name in os.listdir(directory_path_eventset)
#             if os.path.isfile(os.path.join(directory_path_eventset, name)) and 'part0' in name])
#         file_count = len([
#             name for name in os.listdir(directory_path)
#             if os.path.isfile(os.path.join(directory_path, name)) and 'part0' in name])
#         if file_count == file_count_eventset:
#             print(f"Gauge {gauge_num}: files not already deleted")

#### Do the deleting

In [7]:
for gauge_num in range(1,2):
    if gauge_num not in [444, 827, 888]:
        print(gauge_num)
        directory_path = f"/nfs/a161/gy17m2a/PhD/ProcessedData/IndependentEvents/UKCP18_30mins/{timeperiod}/{em}/{gauge_num}/WholeYear/"
        # print(f"Gauge number {gauge_num}: Not as expected, {file_count}")
        create_copy_of_files(directory_path, gauge_num)
        # Move files to extra directoy incase deleting part is wrong
        dataframes = load_csv_files(directory_path)
        print(f"gauge {gauge_num}, pre-deletion {len(dataframes)} files exist")
        # Compare the 'rolling_sum' columns
        compare_and_delete_duplicates(dataframes)
        dataframes = load_csv_files(directory_path)
        print(f"gauge {gauge_num}, pre-deletion {len(dataframes)} files exist")

1
gauge 1, pre-deletion 104 files exist
gauge 1, pre-deletion 104 files exist

In [9]:
pd.read_csv(f"/nfs/a161/gy17m2a/PhD/ProcessedData/IndependentEvents/UKCP18_30mins/{timeperiod}/{em}/{gauge_num}/WholeYear/12hrs_2013_v2_part0.csv")

,Unnamed: 0,precipitation (mm/hr),times,precipitation (mm),is_dry,Rolling_Sum,consecutive_dry
0,6936,3.649756e-07,2013-05-25 12:15:00,1.824878e-07,True,0.000047,1.0
1,6937,6.059926e-01,2013-05-25 12:45:00,3.029963e-01,False,0.303039,0.0
2,6938,1.124636e+01,2013-05-25 13:15:00,5.623178e+00,False,5.926216,0.0
3,6939,2.295285e+01,2013-05-25 13:45:00,1.147643e+01,False,17.402638,0.0
4,6940,3.563773e+01,2013-05-25 14:15:00,1.781886e+01,False,35.221502,0.0
5,6941,5.149635e+00,2013-05-25 14:45:00,2.574818e+00,False,37.796314,0.0
6,6942,4.212647e-02,2013-05-25 15:15:00,2.106323e-02,True,37.817375,1.0
7,6943,8.342051e-02,2013-05-25 15:45:00,4.171025e-02,True,37.859085,2.0
8,6944,4.783451e-07,2013-05-25 16:15:00,2.391725e-07,True,37.859081,3.0
9,6945,1.247950e-05,2013-05-25 16:45:00,6.239751e-06,True,37.859083,4.0
10,6946,1.731245e-05,2013-05-25 17:15:00,8.656223e-06,True,37.859091,5.0
11,6947,7.484683e-06,2013-05-25 17:45:00,3.742341e-06,True,37.859088,6.0
12,6948,4.372222e-05,2013-05-25 18:15:00,2.186111e-05,True,37.859109,7.0
13,6949,1.855198e-04,2013-05-25 18:45:00,9.275990e-05,True,37.859201,8.0
14,6950,1.707483e-06,2013-05-25 19:15:00,8.537413e-07,True,37.859197,9.0
15,6951,4.120668e-06,2013-05-25 19:45:00,2.060334e-06,True,37.859198,10.0
16,6952,5.756021e-06,2013-05-25 20:15:00,2.878011e-06,True,37.859201,11.0
17,6953,1.151887e-05,2013-05-25 20:45:00,5.759433e-06,True,37.859203,12.0
18,6954,6.041861e-07,2013-05-25 21:15:00,3.020930e-07,True,37.859202,13.0
19,6955,2.713840e-07,2013-05-25 21:45:00,1.356920e-07,True,37.859202,14.0
20,6956,3.642906e-08,2013-05-25 22:15:00,1.821453e-08,True,37.859202,15.0
21,6957,3.525320e-07,2013-05-25 22:45:00,1.762660e-07,True,37.859202,16.0
22,6958,1.134559e+00,2013-05-25 23:15:00,5.672796e-01,False,38.426481,0.0
23,6959,3.218139e-01,2013-05-25 23:45:00,1.609070e-01,False,38.587388,0.0
24,6960,1.010212e+00,2013-05-26 00:15:00,5.051058e-01,False,39.092494,NaN
25,6961,8.701551e-02,2013-05-26 00:45:00,4.350776e-02,True,38.833005,NaN
26,6962,1.889357e-02,2013-05-26 01:15:00,9.446783e-03,True,33.219274,NaN
27,6963,2.791107e+00,2013-05-26 01:45:00,1.395554e+00,False,23.138402,NaN
28,6964,9.865798e-01,2013-05-26 02:15:00,4.932899e-01,False,5.812827,NaN
29,6965,7.631487e-02,2013-05-26 02:45:00,3.815743e-02,True,3.276167,NaN
30,6966,6.087660e-06,2013-05-26 03:15:00,3.043830e-06,True,3.255107,NaN
31,6967,1.060422e+00,2013-05-26 03:45:00,5.302110e-01,False,3.743608,NaN
32,6968,3.075289e+00,2013-05-26 04:15:00,1.537644e+00,False,5.281252,NaN
33,6969,4.826207e+00,2013-05-26 04:45:00,2.413104e+00,False,7.694349,NaN
34,6970,3.318384e+00,2013-05-26 05:15:00,1.659192e+00,False,9.353532,NaN
35,6971,2.751305e+00,2013-05-26 05:45:00,1.375652e+00,False,10.729181,NaN
36,6972,3.967376e+00,2013-05-26 06:15:00,1.983688e+00,False,12.712847,NaN
37,6973,1.152136e+00,2013-05-26 06:45:00,5.760678e-01,False,13.288822,NaN

In [8]:
pd.read_csv(f"/nfs/a161/gy17m2a/PhD/ProcessedData/IndependentEvents/UKCP18_30mins/{timeperiod}/{em}/{gauge_num}/WholeYear/0.5hrs_2013_v2_part0.csv")

,Unnamed: 0,precipitation (mm/hr),times,precipitation (mm),is_dry,Rolling_Sum,consecutive_dry
0,6937,6.059926e-01,2013-05-25 12:45:00,3.029963e-01,False,3.029963e-01,NaN
1,6938,1.124636e+01,2013-05-25 13:15:00,5.623178e+00,False,5.623178e+00,NaN
2,6939,2.295285e+01,2013-05-25 13:45:00,1.147643e+01,False,1.147643e+01,0.0
3,6940,3.563773e+01,2013-05-25 14:15:00,1.781886e+01,False,1.781886e+01,NaN
4,6941,5.149635e+00,2013-05-25 14:45:00,2.574818e+00,False,2.574818e+00,NaN
5,6942,4.212647e-02,2013-05-25 15:15:00,2.106323e-02,True,2.106323e-02,NaN
6,6943,8.342051e-02,2013-05-25 15:45:00,4.171025e-02,True,4.171025e-02,NaN
7,6944,4.783451e-07,2013-05-25 16:15:00,2.391725e-07,True,2.391726e-07,NaN
8,6945,1.247950e-05,2013-05-25 16:45:00,6.239751e-06,True,6.239751e-06,NaN
9,6946,1.731245e-05,2013-05-25 17:15:00,8.656223e-06,True,8.656223e-06,NaN
10,6947,7.484683e-06,2013-05-25 17:45:00,3.742341e-06,True,3.742342e-06,NaN
11,6948,4.372222e-05,2013-05-25 18:15:00,2.186111e-05,True,2.186111e-05,NaN
12,6949,1.855198e-04,2013-05-25 18:45:00,9.275990e-05,True,9.275990e-05,NaN
13,6950,1.707483e-06,2013-05-25 19:15:00,8.537413e-07,True,8.537413e-07,NaN
14,6951,4.120668e-06,2013-05-25 19:45:00,2.060334e-06,True,2.060334e-06,NaN
15,6952,5.756021e-06,2013-05-25 20:15:00,2.878011e-06,True,2.878011e-06,NaN
16,6953,1.151887e-05,2013-05-25 20:45:00,5.759433e-06,True,5.759433e-06,NaN
17,6954,6.041861e-07,2013-05-25 21:15:00,3.020930e-07,True,3.020930e-07,NaN
18,6955,2.713840e-07,2013-05-25 21:45:00,1.356920e-07,True,1.356920e-07,NaN
19,6956,3.642906e-08,2013-05-25 22:15:00,1.821453e-08,True,1.821453e-08,NaN
20,6957,3.525320e-07,2013-05-25 22:45:00,1.762660e-07,True,1.762660e-07,NaN
21,6958,1.134559e+00,2013-05-25 23:15:00,5.672796e-01,False,5.672796e-01,NaN
22,6959,3.218139e-01,2013-05-25 23:45:00,1.609070e-01,False,1.609070e-01,NaN
23,6960,1.010212e+00,2013-05-26 00:15:00,5.051058e-01,False,5.051058e-01,NaN
24,6961,8.701551e-02,2013-05-26 00:45:00,4.350776e-02,True,4.350775e-02,NaN
25,6962,1.889357e-02,2013-05-26 01:15:00,9.446783e-03,True,9.446783e-03,NaN
26,6963,2.791107e+00,2013-05-26 01:45:00,1.395554e+00,False,1.395554e+00,NaN
27,6964,9.865798e-01,2013-05-26 02:15:00,4.932899e-01,False,4.932899e-01,NaN
28,6965,7.631487e-02,2013-05-26 02:45:00,3.815743e-02,True,3.815743e-02,NaN
29,6966,6.087660e-06,2013-05-26 03:15:00,3.043830e-06,True,3.043830e-06,NaN
30,6967,1.060422e+00,2013-05-26 03:45:00,5.302110e-01,False,5.302110e-01,NaN
31,6968,3.075289e+00,2013-05-26 04:15:00,1.537644e+00,False,1.537644e+00,NaN
32,6969,4.826207e+00,2013-05-26 04:45:00,2.413104e+00,False,2.413104e+00,NaN
33,6970,3.318384e+00,2013-05-26 05:15:00,1.659192e+00,False,1.659192e+00,NaN
34,6971,2.751305e+00,2013-05-26 05:45:00,1.375652e+00,False,1.375652e+00,NaN
35,6972,3.967376e+00,2013-05-26 06:15:00,1.983688e+00,False,1.983688e+00,NaN
36,6973,1.152136e+00,2013-05-26 06:45:00,5.760678e-01,False,5.760678e-01,NaN

### 30 minute NIMROD (Done)

In [8]:
# for dataset_name in ['NIMROD_2.2km_filtered_100']:
#     for gauge_num in range(1200,1293):
#         if gauge_num not in [444, 827, 888]:
#             print(f"Gauge number {gauge_num}")
#             directory_path = f"/nfs/a161/gy17m2a/PhD/ProcessedData/IndependentEvents/NIMROD_30mins/{dataset_name}/{gauge_num}/WholeYear"
#             # Move files to extra directoy incase deleting part is wrong
#             create_copy_of_files(directory_path, gauge_num)
#             dataframes = load_csv_files(directory_path)
#             print(len(dataframes))
#             # Compare the 'rolling_sum' columns
#             compare_and_delete_duplicates(dataframes)
#             dataframes = load_csv_files(directory_path)
#             print(len(dataframes))

### 5 minute NIMROD

- filtered_100 = 0-200, 200-350, 350-1200, 1200-1294  
- filtered_300 = 0-200,  200-350, 350-1294
- unfilterd = 0-200, 200-350, 350-1294

In [17]:
for dataset_name in ['NIMROD_1km_filtered_100']:
    for gauge_num in range(1200,1294):
        if gauge_num not in [444, 827, 888]:
            print(f"Gauge number {gauge_num}")
            directory_path = f"/nfs/a161/gy17m2a/PhD/ProcessedData/IndependentEvents/NIMROD_5mins/{dataset_name}/{gauge_num}/WholeYear"
            # Move files to extra directoy incase deleting part is wrong
            create_copy_of_files(directory_path, gauge_num)
            dataframes = load_csv_files(directory_path)
            print(len(dataframes))
            # Compare the 'rolling_sum' columns
            compare_and_delete_duplicates(dataframes)
            dataframes = load_csv_files(directory_path)
            print(len(dataframes))