## Read in profiles made in FEH

In [1]:
import pandas as pd
import os

In [8]:
catchment_name  ='WykeBeck'

In [10]:
feh_profile = pd.read_csv('{}/PreLossRemoval/6hr_100yrRP_6.01h_1mintimestep.csv'.format(catchment_name))
feh_profile

,Time,100 year design rainfall - FEH 2013 model,Urban net rain mm (100 year) - urbanised model,Rural net rain mm (100 year) - urbanised model,Sewer loss m3/s (100 year) - urbanised model,Total net rain mm (100 year) - urbanised model,Direct runoff m3/s (100 year) - urbanised model,Baseflow m3/s (100 year) - urbanised model,Total flow m3/s (100 year)- urbanised model
0,00:00:00,0.034479,0.009181,0.004820,0,0.014001,0.000000,0.458220,0.458220
1,00:01:00,0.034908,0.009297,0.004882,0,0.014178,0.000027,0.458034,0.458061
2,00:02:00,0.035341,0.009413,0.004944,0,0.014357,0.000106,0.457849,0.457955
3,00:03:00,0.035778,0.009531,0.005007,0,0.014538,0.000240,0.457663,0.457903
4,00:04:00,0.036201,0.009645,0.005068,0,0.014714,0.000429,0.457478,0.457907
...,...,...,...,...,...,...,...,...,...
356,05:56:00,0.036201,0.013328,0.008180,0,0.021508,18.432673,0.856174,19.288847
357,05:57:00,0.035778,0.013174,0.008087,0,0.021260,18.524941,0.860721,19.385662
358,05:58:00,0.035341,0.013015,0.007990,0,0.021004,18.616899,0.865295,19.482194
359,05:59:00,0.034908,0.012857,0.007894,0,0.020750,18.708541,0.869895,19.578436
360,06:00:00,0.034479,0.012701,0.007798,0,0.020499,18.799858,0.874521,19.674380

In [11]:
reference_profile_for_formatting = pd.read_csv('../IdealisedProfiles/{}/6hr_100yrRP/PreLossRemoval/6h_sp_c_0.5.csv'.format(catchment_name),
                                              header=None)

In [12]:
edited_profile = pd.DataFrame({'Dates': reference_profile_for_formatting[0],
                 'Rate (mm/min)': feh_profile['100 year design rainfall - FEH 2013 model']},)

In [13]:
edited_profile['Rate (mm/min)'].sum()

59.25229130455374

In [14]:
# Write to csv
edited_profile.to_csv('{}/PreLossRemoval/6hr_100yrRP_6.01h_1mintimestep_formatted.csv'.format(catchment_name),header = False, index = False)